<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Trading App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Bungee+Shade&family=Carter+One&family=Rowdies:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header class="header">
        <a href="/" class="home"> MotorMatcher </a>
        <section class="header-btns">
            <section>
                <ul>
                  <li class="links"><a href="/buy"> Buy </a></li>
                  <li class="links"><a href="/sell"> Sell </a></li>
                </ul>
            </section>
            {{#if logged_in}}
            <button class="logout-btn" id="logout"> Logout </button>
            {{else}}
            <button class="login-btn" id="login" onclick="window.location.href='/login'"> Login </button>
            {{/if}}
            <button ></button>
        </section>
    </header>

    <main>
        {{{ body }}}
    </main>
</body>
</html>