    <section class="buying">
        <container class="buying-container">
            <h6> Search for cars </h6>
            <section>
                <section class="select-car"> 
                    <h7> Make of Car </h7>
                    <select id="car-name" class="car-selection">
                        <option value="Select"> Select </option>
                        <option value="Buick"> Buick </option>
                        <option value="Cadillac"> Cadillac </option>
                        <option value="Chevrolet"> Chevrolet </option>
                        <option value="Chrysler"> Chrysler </option>
                        <option value="Dodge"> Dodge </option>
                        <option value="Ford"> Ford </option>
                        <option value="GMC"> GMC </option>
                        <option value="Honda"> Honda </option>
                        <option value="Hyundai"> Hyundai </option>
                        <option value="Jeep"> Jeep </option>
                        <option value="Buick"> Telsa </option>
                        <option value="Toyota"> Toyota </option>                    
                    </select>
                </section>
            </section>

            <section class="select-year"> 
                <h7> Select Year </h7>
                <select id="year" class="year-selection">
                    <option value="Select"> Select </option>
                    <option value="2024"> 2024 </option>
                    <option value="2023"> 2023 </option>
                    <option value="2022"> 2022 </option>
                    <option value="2021"> 2021 </option>
                    <option value="2020"> 2020 </option>
                    <option value="2019"> 2019 </option>
                    <option value="2018"> 2018 </option>
                    <option value="2017"> 2017 </option>
                    <option value="2016"> 2016 </option>
                    <option value="2015"> 2015 </option>
                    <option value="2014"> 2014 </option>
                </select>
            </section>

                <section class="enter-color"> 
                    <h7> Enter Color </h7>
                    <input type="text" class="color-input">
                </section>

                <!-- Slider HTML from: https://www.w3schools.com/howto/howto_js_rangeslider.asp -->
                <section class="slider-container">
                    <h7> Select Mileage </h7>
                    <input type="range" min="0" max="300000" value="150000" class="slider" id="myRange">
                    <p> Mileage: <span id="value"></span></p>
                </section>

                <section class="slider-container">
                    <h7> Price Range </h7>
                    <input type="range" min="0" max="25000" value="12500" class="slider" id="price-Range">
                    <p> Price Range: <span id="price-value"></span></p>
                </section>

            <button type="button" class="filter-btn"> Search </button>
        </container>
    </section>

<script>
    const slider = document.getElementById("myRange");
    const output = document.getElementById("value");
    output.innerHTML = slider.value;
    
    slider.oninput = function() {
        output.innerHTML = this.value;
    }

    const priceSlider = document.getElementById("price-Range");
    const priceOutput = document.getElementById("price-value");
    priceOutput.innerHTML = priceSlider.value;
    
    priceSlider.oninput = function() {
        priceOutput.innerHTML = this.value;
    }
</script>