    <form class="search">
        <h1> Welcome </h1>
        <h2> What are you looking for? </h2>
        <!-- From: https://codepen.io/stoic25/pen/gKLXWZ -->
        <section class="form-group fg--search">
            <input type="text" class="input" placeholder="Search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </section>
    </form>

    <section class="buttons">
        <button type="button" class="listing-btn" onclick="window.location.href='/sell'"> Create a Listing </button>
        <button type="button" class="view-listing-btn" onclick="window.location.href='/listing'"> View Your Listings </button>
    </section>
    
    <section class="display-postings">
        <h3> Your postings </h3>
        <p><a href="/login" class="login-link">Login</a> to view.</p>
        {{!-- {{#if logged_in}}
        {{#each listings as |listing|}}
        <section class=""> 

        </section> --}}

    </section>

    <section class="listings">
        <h3> Previously viewed listings </h3>
        <p><a href="/login" class="login-link">Login</a> to view.</p>
    </section>

    <section class="faq">
        <h3> Frequently Asked Questions (FAQ) </h3>
            <li class="question"> 1. Is there a posting fee? </li>
            <li class="answer"> There is no posting fee! You can post on our site completely free! </li>
            <li class="question"> 2. How do I post a successful ad? </li>
            <section class="answer"> 
                <li> Provide an honest description of the car that you are selling.</li> 
                <li> Include as much of the specifications of the car as you can (i.e. the model, the year it was made, the mileage, etc.). </li>
                <li> Do some research and check and see what other people have listed their vehicle at and get an idea of the price range that you want to list your car for. </li>
            </section>
            <li class="question"> 3. How can I ensure a safe transaction? </li>
            <li class="answer"> You ALWAYS want to meet in person to avoid any potential fraud, bring a friend or a third party to accompany you. To ensure the safest transaction, meet them at a parking area of a police station. </li>
            <li class="question"> 4. What are some things to look for from a used car? </li>
            <li class="answer"> We have filters that you can use to filter your search! </li>
            <li class="question"> 5. How are transactions closed? </ul>
            <li class="answer"> We as a company are not responsible for the closing of transactions. It is up to the discretion of the parties involved. </li>
    </section>
