    <section class="display-listing">
        <container class="view-listing">
            <h6> Listing Title </h6>
            <h7> Listing.Make </h7>
            <h7> Listing.Model </h7>
            <h7> Listing.Mileage </h7>
            <h7> Listing.Price </h7>
            <section class="listing-description">
                <h7> Description </h7>
                <p> Listing.Description goes here</p>
            </section>
        </container>
    </section>