    <section class="login">
        <form class="login-form">
            <h4>Login</h4>
            <section class="username">
                <label for="user-login">Username</label>
                <input type="username" class="username-text" placeholder="Username">
            </section>
            
            <section class="password">
                <label for="password-login">Password</label>
                <input type="password" class="password-text" placeholder="Password">
            </section>
            
            <section class="account-management">
                <section class="account-links">
                    <a href="/reset" class="reset"> Forgot password?</a>
                    <a href="/signup" class="signup"> Create Account</a>
                </section>
                <button class="login-button"> Login </button>
            </section>
        </form>
    </section>

<script src="../public/js/login.js"></script>