    <section class="login">
        <container class="login-container">
            <h4>Login</h4>
            <section class="username">
                <h5>Username</h5>
                <input type="username" class="username-text" placeholder="Username">
            </section>
            
            <section class="password">
                <h5>Password</h5>
                <input type="password" class="password-text" placeholder="Password">
            </section>
            
            <section class="account-management">
                <section class="account-links">
                    <a href="/views/reset.handlebars" class="reset"> Forgot password?</a>
                    <a href="signup.html" class="signup"> Create Account</a>
                </section>
                <button class="login-button"> Login </button>
            </section>
        </container>
    </section>
