    <section class="login">
        <form class="login-form">
            <h4>Reset Password</h4>
            <section class="username">
                <h5>Enter Username or Email </h5>
                <input type="text" class="username-text" placeholder="Username">
            </section>
            
            <section class="account-management">
                <section class="account-links">
                    <a href="signup" class="signup"> Create Account</a>
                    <a href="login" class="signup"> Go Back </a>
                </section>
                <button class="login-button"> Reset Password </button>
            </section>
        </form>
    </section>
