    <section class="selling">
            <form class="listing-container">
                <h6> Create A Listing </h6>
                <section class="make">
                    <h7> Make of Car (required) </h7>
                    <input type="text" class="model-name" id="make" placeholder="Name">
                </section>

                <section class="model">
                    <h7> Model of Car </h7>
                    <input type="text" class="model-year" id="model" placeholder="Make">
                </section>

                <section class="year">
                    <h7> Model Year (Required) </h7>
                    <input type="text" class="model-year" id="year" placeholder="Year">
                </section>

                <section class="mileage">
                    <h7> Mileage (required) </h7>
                    <input type="text" class="mileage-text" id="mileage" placeholder="Mileage">
                </section>

                <section class="price">
                    <h7> Price (required) </h7>
                    <input type="text" class="price-text" id="price" placeholder="Price">
                </section>

                <section class="description">
                    <h7> Description </h7>
                    <textarea type="text" class="description-text" id="description" placeholder="Provide a detailed description"></textarea>
                </section>

                <section class="listing-btns">
                    <button type="button" class="upload-photo-btn"> Upload Photo </button>
                    <button type="button" class="post-listing-btn"> Post Listing </button>
                </section>
            </form>
    </section>

<script src="./js/listing.js"></script>