    <section class="selling">
            <container class="listing-container">
                <h6> Create A Listing </h6>
                <section class="make">
                    <h7> Make of Car (required) </h7>
                    <input type="text" class="model-name" placeholder="Name">
                </section>

                <section class="model">
                    <h7> Model of Car </h7>
                    <input type="text" class="model-year" placeholder="Make">
                </section>

                <section class="year">
                    <h7> Model Year (Required) </h7>
                    <input type="text" class="model-year" placeholder="Year">
                </section>

                <section class="mileage">
                    <h7> Mileage (required) </h7>
                    <input type="text" class="mileage-text" placeholder="Mileage">
                </section>

                <section class="description">
                    <h7> Description </h7>
                    <textarea type="text" class="description-text" placeholder="Provide a detailed description"></textarea>
                </section>

                <section class="listing-btns">
                    <button type="button" class="upload-photo-btn"> Upload Photo </button>
                    <button type="button" class="post-listing-btn"> Post Listing </button>
                </section>
            </container>
    </section>
