    <section class="signup">
        <form class="signup-form">
            <h4>Create Account</h4>
            <section class="username">
                <label for="username-signup"> Create a username </label>
                <input type="username" class="username-text" placeholder="Username">
            </section>
            
            <section class="email">
                <label for="email-signup"> Enter your email </label>
                <input type="email" class="email-text" placeholder="Email">
            </section>

            <section class="password">
                <label for="password-signup"> Create a password </label>
                <input type="password" class="password-text" placeholder="Password">
            </section>
            
            <section class="account-management">
                <button class="signup-button" type="submit"> Create Account </button>
            </section>
        </form>
    </section>

<script src="../public/js/signup.js"></script>