:root {
    --primary: #9381FF;
    --secondary: #B8B8FF;
    --tertiary: #F8F7FF;
    
}

* {
    font-family: "Bebas Neue", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
}

.home {
    font-family: "Alfa Slab One", serif;
    font-size: 72px;
    color: var(--tertiary);
}

a {
    color: var(--secondary)
}

.header-btns {
    display: flex;
}

.links {
    font-size: 34px;
    margin: 30px 10px 30px 10px;
}

ul {
    display: inline-flex;
}

.login-btn {
    background-color: var(--primary);
    border: none;
    font-size: 34px;
    padding: 10px;
    color: var(--secondary);
}

.login-btn:hover {
    cursor: pointer;
    color: var(--tertiary);
}

body {
    background-color: var(--tertiary);
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: grid;
}

.search-input {
    width: 250px;
    height: 30px;
}


h1 {
    font-family: "Carter One", system-ui;
    font-size: 72px;
    color: var(--primary);
}

h2, h3, h4 {
    font-size: 24px;
}
