:root {
    --primary: #9381FF;
    --secondary: #B8B8FF;
    --tertiary: #F8F7FF;
    
}

* {
    font-family: "Bebas Neue", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
}

.home {
    font-family: "Alfa Slab One", serif;
    font-size: 72px;
    color: var(--tertiary);
}

.header-btns {
    display: flex;
}

a {
    color: var(--secondary)
}

a:hover {
    color: var(--tertiary);
}

.links {
    font-size: 34px;
    margin: 30px 10px 30px 10px;
}

ul {
    display: inline-flex;
}

.login-btn {
    background-color: var(--primary);
    border: none;
    font-size: 34px;
    padding: 10px;
    color: var(--secondary);
}

.login-btn:hover {
    cursor: pointer;
    color: var(--tertiary);
}

.login-link {
    color: black;
}

.login-link:hover {
    color: var(--secondary);
}

body {
    background-color: var(--tertiary);
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: grid;
}

/* From: https://codepen.io/stoic25/pen/gKLXWZ */
.fg--search {
    background: white;
    position: relative;
    width: 300px;
}
  
.fg--search input {
    width: 100%;
    padding: 20px 60px 20px 20px;
    display: block;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}
  
.fg--search button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px 20px;
    z-index: 2;
}
  
.fg--search input:focus + button .fa-search {
    color: red;
}

.listings, .faq {
    padding: 2px 0 2px 0;
}

h1 {
    font-family: "Carter One", system-ui;
    font-size: 68px;
    color: var(--primary);
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 40px;
    color: var(--primary);
    padding: 10px 0 10px 0;
}

.question {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    padding: 1px 0 1px 0;
}

.answer {
    display: none;
    font-size: 16px;
}

.question:hover + .answer {
    display: block;
    font-style: italic;
    color: red;
}

/* Login CSS */
.login {
    display: grid;
    justify-content: center;
}

.login-container {
    border-style: solid;
    border-width: 25px;
    padding: 30px;
    border-color: var(--primary);
    border-radius: 20px;
    margin: 50px;
}

h4 {
    font-size: 64px;
    display: flex;
    justify-content: center;
    
}

h5 {
    font-size: 32px;
    color: var(--primary);
    padding-bottom: 10px;
}

.account-links {
    display: flex;
    justify-content: space-between;
}

.reset, .signup {
    color: black;
}

.reset:hover, .signup:hover {
    color: var(--secondary);
}

.forgot-password {
    display: grid;
}

.username, .password, .forgot-password {
    padding: 20px;
}

.username-text, .password-text {
    height: 40px;
    width: 300px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    opacity: 0.5;
}

.login-button {
    height: 50px;
    background-color: var(--primary);
    color: var(--tertiary);
    font-size: 26px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
}

.login-button:hover {
    cursor: pointer;
}