:root {
    --primary: #9381FF;
    --secondary: #B8B8FF;
    --tertiary: #F8F7FF;
    
}

* {
    font-family: "Bebas Neue", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
}

.home {
    font-family: "Alfa Slab One", serif;
    font-size: 72px;
    color: var(--tertiary);
}

a {
    color: var(--secondary)
}

.header-btns {
    display: flex;
}

.links {
    font-size: 34px;
    margin: 30px 10px 30px 10px;
}

ul {
    display: inline-flex;
}

.login-btn {
    background-color: var(--primary);
    border: none;
    font-size: 34px;
    padding: 10px;
    color: var(--secondary);
}

.login-btn:hover {
    cursor: pointer;
    color: var(--tertiary);
}

body {
    background-color: var(--tertiary);
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: grid;
}

/* From: https://codepen.io/stoic25/pen/gKLXWZ */
.fg--search {
    background: white;
    position: relative;
    width: 300px;
  }
  
.fg--search input {
    width: 100%;
    padding: 20px 60px 20px 20px;
    display: block;
    font-size: 20px;
  }
  
.fg--search button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px 20px;
    z-index: 2;
  }
  
.fg--search input:focus + button .fa-search {
    color: red;
  }

h1 {
    font-family: "Carter One", system-ui;
    font-size: 72px;
    color: var(--primary);
}

h2 {
    font-size: 24px;
}

h3, h4 {
    font-size: 40px;
    color: var(--primary);
}

.question {
    font-size: 26px;
    font-family: "Roboto", sans-serif;

}

.answer {
    display: none;
    font-size: 24px;
}

.question:hover + .answer {
    display: block;
    font-style: italic;
    color: red;
}
